.app {
	 	margin-left:1em;
	  margin-bottom:1em;

}
.app li {
	list-style: none;
}
body {margin:0em; font-size: 48px}
.code {font-size:0.6em;margin:1em}
.header
   {background-color: #dde;
	  padding:1em;
		margin-bottom: 1em;
		font-size:0.8em;
		font-style:oblique;
		border-radius:0em;
		padding-left:2em;
		padding-right:2em;

   }
.seps{
	 margin:2em;
	 color:lightgray;
	 border-radius:3em;
	background-color:lightgreen;
	padding:1em;
	padding-left:3em;
	font-size:0.5em;
}
.light {
        width:4em;
        height:4em;
        border-radius:2em;
        border:0.2em solid grey;
        margin:1em;
    }
button {
  border:1px solid #aaa;
  margin:0.2em;
  border-radius:0.3em;
  padding:1em;
  
  }
