# Haskell: From http://help.github.com/git-ignore
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
.ipynb_checkpoints
cabal.sandbox.config
cabal.config
.stack-work/

# GHCJS
*.jsexe
*.js_hi
*.js_o
*.js_dyn_hi
*.js_dyn_o

